@charset "UTF-8";

/* nav, footer 공통 */
/* 초기화 */
* {
    margin: 0; padding: 0;
    font: normal 13px 'Arial';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }


/* 헤더 */
html,
body {
    margin:0;
    padding:0;
    height:100%;
}

.contant_wrap {
    min-height:100%;
    position:relative;
}



#main_header {
    position: fixed;
    width: 100%;
    background: #303942; 
    /* #211A1D; */
    height: 60px;
    z-index: 9999;
    border-bottom: 1px solid black;
}

#main_header a {
    color: white;
}

#main_header .gnb {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

#main_header #logo {
    float: left;
    width: 150px;
    margin-left: 10px;
    margin-right: 100px;
}

#logo img {
    width: 130px;
    height: 60px;
}

#main_header {
    float: left;
    overflow: hidden;
}


#main_header li {
    float: left;
    padding: 23px;
    box-sizing: border-box;
    width: 200px;
    text-align: center;
}


#main_header li:hover {
    background-color: #321C52;
    cursor: pointer;
}

#main_header .menu_btn {
    float: right;
}

#main_header .close_btn {
    float: right;
}



#hamburger-wrapper {
    display: none;
}

#close-sidenav {
    display: none;
}




/* 네비게이션 */

@media screen and (max-width:900px) {    

#hamburger-wrapper {
    display: block;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

#hamburger {
    cursor: pointer;
    font-size: 2em;
}

#close-sidenav {
    display: block;
    cursor: pointer;
    /* margin-right: -10px; */
    float: right;
}

#sidenav {
    height: 100%; width: 200px;
    top: 0; right: -200px;
    background: #303942;
    position: fixed;
    transition: 0.3s;
}

#sidenav ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none;
}

}







/* 푸터 */
#main_footer {
    background-color: #303942;
    color: #CAD5CA;
    position: absolute;
    width: 100%;
    left: 0;
    height: 120px;
}


    
#email {
    float: left;
    margin: 40px;
}

#footer_img {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

#footer_img span {
    padding-left: 50px;
}



@media screen and (max-width:767px) {
    #footer_img {
        display: none;
    }
}