@charset "UTF-8";

/* nav, footer 공통 */
/* 초기화 */
* {
    margin: 0; padding: 0;
    font: normal 13px 'Arial';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }




/* 헤더 */
#main_header {
    position: fixed;
    width: 100%;
    background: #303942; 
    /* #211A1D; */
    height: 60px;
    z-index: 1;
    border-bottom: 1px solid black;
}

#main_header a {
    color: white;
}

#main_header .gnb {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

#main_header #logo {
    float: left;
    width: 150px;
    margin-left: 10px;
    margin-right: 100px;
}

#logo img {
    width: 150px;
    height: 60px;
}

#main_header {
    float: left;
    overflow: hidden;
}


#main_header li {
    float: left;
    padding: 22px 60px;
    box-sizing: border-box;
    margin-left: 30px;
}

#main_header li:hover {
    background-color: #321C52;
    cursor: pointer;
}

#main_header .menu_btn {
    float: right;
}

#main_header .close_btn {
    float: right;
}




/* 네비게이션 */

@media screen and (max-width:774px){

#menu_wrap {
    display: none;
}

.menu_btn {
    width : 50px; 
    height : 50px;
    position : absolute; 
    right : 0px; 
    top : 0px; 
    z-index : 1; 
    background-image : url("https://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/menu.png"); 
    background-size : 50%; 
    background-repeat : no-repeat; 
    background-position : center; 
    cursor : pointer;
}

.close_btn {
    width : 50px; 
    height : 50px; 
    position : absolute; 
    right : 0px; 
    top : 0px; 
    z-index : 1; 
    background-image : url("https://s1.daumcdn.net/cfs.tistory/custom/blog/204/2048858/skin/images/close.png"); 
    background-size : 50%; 
    background-repeat : no-repeat; 
    background-position : center; 
    cursor : pointer;
}

.sidebar_menu {
    width: 150px; 
    height: 100%; 
    position: fixed; 
    top: 0px; 
    right: -152px; 
    z-index: 10; 
    border: 1px solid #c9c9c9; 
    background-color: white; 
    text-align: center; 
    transition: All 0.2s ease; 
    -webkit-transition: All 0.2s ease; 
    -moz-transition: All 0.2s ease; 
    -o-transition: All 0.2s ease;
}

#menu_wrap {
    right : 0px;
    }
}





/* 푸터 */
#main_footer {
    bottom: 0;
    width: 100vw;
    background-color: #303942;
    /* #211A1D; */
    color: #CAD5CA;
    overflow: hidden;
    /* position: absolute; */
}

#email {
    float: left;
    margin: 40px;
}

#footer_img {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

#footer_img > a {
    padding: 50px;
}

@media screen and (max-width:767px) {
    #footer_img {
        display: none;
    }
}