/* contact 부분 */

#main_contact {
    overflow: hidden;
    padding-top: 150px;
    /* padding-bottom: 400px; */
    background-color: #D0D0D0;
    width: 100%;
    padding-bottom: 100px;
}


#main_contact p {
    margin-left: 50px;
    font-size: 1.5em;
}

#main_contact .bar {
    color: grey;
    font-size: 5em;
    margin-left: 50px;
    width: 100%;
}

@keyframes bar {
    0% { width: 0; }
    100% { width: 100%; }
}

.bar {
    position: relative;
    font-family: 'Encode Sans SC', sans-serif;
}



.bar::after {
    content: ' ';
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 3px;
    background: grey;
    animation-name: bar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

/* 글/맵 */
#text_contact {
    position: relative;
    float: left;
    margin-top: 120px;
    padding-left: 120px;
}

#text_contact div span, p {
    font-family: 'Encode Sans SC', sans-serif;
}

#text_contact div .font {
    font-weight: bold;
    font-size: 18px;
}

#library_map {
    position: relative;
    float: right;
    margin-top: 50px;
}

#library_map #map {
    float: right;
}


#library_map #map img {
    float: right;
    height: 300px;
    width: 500px;
}






/* 이미지들 */
#contact_wrap {
    padding: 250px 0 250px 0;
    overflow: hidden;
    background-color: #D0D0D0;
}

.contact_img {
    /* width: 100%; */
    margin-bottom: 50px;

    transition: transform 0.5s;
    opacity: 1s;
    
}

#contact_wrap .contact_img:nth-child(1) div img  {
    height: 220px;
    width: 400px
}

#contact_wrap .contact_img:nth-child(2) div img  {
    height: 200px;
    width: 300px
}

#contact_wrap .contact_img:nth-child(3) div img  {
    height: 150px;
    width: 220px;
}

#contact_wrap .contact_img:nth-child(4) div img  {
    height: 300px;
    width: 400px;
}

#contact_wrap .contact_img:nth-child(5) div img  {
    height: 200px;
    width: 300px;
}




/* 반응형 */
@media screen and (max-width:767px){
    #text_contact {
        float: left;
        margin-top: 120px;
        margin-left: 20px;
        padding-left: 0px;
        width: 100%;
    }

    #library_map #map img  {
        width: 100vw;
        height: 250px;
    }


    .box {
        overflow: hidden;
    }

    #main_contact > .bar{
        margin-left: 20px;
        font-size: 3.5em;
    }

    #main_contact > p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.1em;
    }

    .contact_img {
        float: left;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:1023px) and (min-width:768px) {
    #library_map #map {
        float: right;
    }

    #library_map #map img {
        float: right;
        height: 200px;
        width: 300px;
        margin-right: 15%;
    }
    
    .box {
        overflow: hidden;
    }
    
    .contact_img {
        float: left;
        width: 100%;
    }

    #main_contact > .bar{
        font-size: 4em;
    }

    #main_contact > p {
        font-size: 1.3em;
    }

    .contact_img:nth-child(1) {
        margin-left: 10%;
    }
    
    .contact_img:nth-child(2) {
        margin-left: 40%;
    }
    
    .contact_img:nth-child(3) {
        margin-left: 17%;
    }
    
    .contact_img:nth-child(4) {
        margin-left: 50%;
    }

    .contact_img:nth-child(5) {
        margin-left: 10%;
    }
}

@media screen and (min-width:1024px) {
    #library_map {
        margin-right: 200px;
        text-align: center;
    }

    #map {
        height: 400px;
        width: 500px;
    }
    
    
    .box {
        overflow: hidden;
    }
    
    .contact_img {
        float: left;
        width: 100%;
    }

    .contact_img:nth-child(1) {
        margin-left: 15%;
    }
    
    .contact_img:nth-child(2) {
        margin-left: 60%;
    }
    
    .contact_img:nth-child(3) {
        margin-left: 25%;
    }
    
    .contact_img:nth-child(4) {
        margin-left: 65%;
    } 

    .contact_img:nth-child(5) {
        margin-left: 10%;
    }
}
