/* contact 부분 */

.box {
    padding-top: 60px;
    height: 2000px;
    background-color:darkkhaki;
    width: 100%;
}

#main_contact {
    height: 200px;
    margin-top: 70px;
}

#main_contact .bar {
    color: grey;
    font-size: 5em;
    margin-left: 50px;
    width: 100%;
}

@keyframes bar {
    0% { width: 0; }
    100% { width: 100%; }
}

.bar {
    position: relative;
}

.bar::after {
    content: ' ';
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 3px;
    background: grey;
    animation-name: bar;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

#main_contact p {
    margin-left: 50px;
    font-size: 1.5em;
}


/* 이미지들 */
#contact_wrap {
    margin: 50px 0 0 0;
    padding: 50px 0 50px 0;
    height: 80%;
    overflow: hidden;
    background-color: grey;
}

.contact_img {
    padding-top: 50px;
}
.contact_img:nth-of-type(even) {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    width: 50%;
}

.contact_img:nth-of-type(odd) {
    float: right;
    margin-right: 100px;
    width: 33%;
    padding-top: 100px;
}

/* 반응형 */
@media screen and (max-width:767px){
    #main_contact {
        height: 200px;
        margin-top: 70px;
    }
    
    #main_contact .bar {
        color: grey;
        font-size: 5em;
        margin-left: 20px;
        width: 100%;
    }

    #main_contact p {
        margin-left: 20px;
    }
    
    #contact_wrap {
        overflow: hidden;
    }

    .contact_img {
        float: left;
    }


}

@media screen and (max-width:768px) and (min-width:1023px) {
    .contact_img:nth-of-type(odd) {
        margin-right: 100px;
    }    


}

@media screen and (min-width:1024px) {
    .contact_img > div{
        /* display: none; */
    }
}
