/* contact 부분 */

#main_contact {
    overflow: hidden;
    padding-top: 200px;
    /* padding-bottom: 400px; */
    background-color: white;
    width: 100%;
    padding-bottom: 100px;
}


#main_contact p {
    margin-left: 50px;
    font-size: 1.5em;
}

#main_contact .bar {
    color: grey;
    font-size: 5em;
    margin-left: 50px;
    width: 100%;
}

@keyframes bar {
    0% { width: 0; }
    100% { width: 100%; }
}

.bar {
    position: relative;
}

.bar::after {
    content: ' ';
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 3px;
    background: grey;
    animation-name: bar;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

/* kakao map */
#main_contact #kakao_map {
    float: right;
    margin-top: 50px;
}

#kakao_map h5 {
    text-align: center;
}



/* 이미지들 */
#contact_wrap {
    padding: 250px 0 250px 0;
    overflow: hidden;
    background-color: grey;
}

.contact_img {
    /* width: 100%; */
    margin-bottom: 50px;

    transition: transform 0.5s;
    opacity: 1s;
}




/* 반응형 */
@media screen and (max-width:767px){
    #kakao_map #map {
        width: 100vw;
        height: 200px;
    }

    .box {
        overflow: hidden;
    }

    #main_contact > .bar{
        margin-left: 20px;
        font-size: 3.5em;
    }

    #main_contact > p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.1em;
    }

    .contact_img {
        float: left;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:1023px) and (min-width:768px) {
    
    #kakao_map {
        margin-right: 100px;
    }

    
    .box {
        overflow: hidden;
    }
    
    .contact_img {
        float: left;
        width: 100%;
    }

    #main_contact > .bar{
        font-size: 4em;
    }

    #main_contact > p {
        font-size: 1.3em;
    }

    .contact_img:nth-child(1) {
        margin-left: 10%;
    }
    
    .contact_img:nth-child(2) {
        margin-left: 40%;
    }
    
    .contact_img:nth-child(3) {
        margin-left: 10%;
    }
    
    .contact_img:nth-child(4) {
        margin-left: 50%;
    } 
}

@media screen and (min-width:1024px) {
    #kakao_map {
        margin-right: 200px;
        text-align: center;
    }
    
    
    .box {
        overflow: hidden;
    }
    
    .contact_img {
        float: left;
        width: 100%;
    }

    .contact_img:nth-child(1) {
        margin-left: 15%;
    }
    
    .contact_img:nth-child(2) {
        margin-left: 60%;
    }
    
    .contact_img:nth-child(3) {
        margin-left: 25%;
    }
    
    .contact_img:nth-child(4) {
        margin-left: 70%;
    } 
}
