/* 백그라운드 */
body{ -ms-overflow-style: none; } 
::-webkit-scrollbar { display: none; }

.bg_black { 
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
}

.bg_video #main_video {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}


#main_image {
    width: 100vw;
    height: 100vh;
}


.main_phrase {
    position: absolute;
    top: 40%;
    left: 250px;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
}


/* 밑에 글 */
#bottom_phrase {
    position: absolute;
    color: white;
    top: 85%;
    left: 100px;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    overflow: hidden;
}

#bottom_phrase div {
    padding-top: 10px;
    font-family: 'Encode Sans SC', sans-serif;
}

#bottom_phrase #another {
    float: left;
}

.design_box {
    top: 83%;
    left: 100px;
    position: absolute;
    width: 10px;
    height: 10px;
    background: coral;
}


/* bar 애니메이션 */
@keyframes bar {
    0% { width: 0%; }
    100% { width: 100%; }
}

.bar {
    position: relative;
    font-size: 5em;
    font-family: 'Encode Sans SC', sans-serif;
}

.bar:nth-of-type(2) {
    font-size: 3em;   
}

.bar::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
    animation-name: bar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



/* 반응형 */

@media screen and (max-width:767px) {
    #main_image {
        display: block;
    }

    #main_video {
        display: none;
    }
    
    .main_phrase {
        font-size: 0.7em;
        left: 50%;
        width: 100%;
        text-align: center;
    }

    #bottom_phrase {
        left: 5%;
        width: 100%;
        font-size: 12px;
    }

    #bottom_phrase div {
        font-size: 9px;
    }

    .design_box {
        left: 5%;
    }

}

@media screen and (max-width:1023px) and (min-width:768px) {
    #main_image {
        display: none;
    }

    #main_video {
        display: block;
    }
    
    .main_phrase {
        font-size: 0.8em;
        left: 230px;
    }
}

@media screen and (min-width:1024px) {
    #main_image {
        display: none;
    }

    #main_video {
        display: block;
    }

    .design_box {
        top: 83%;
    }
}

