/* new contant */
#new_bg {
    position: relative;
    background: url("../img/contant/new_books.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#new_bg::before {
        content: "";
        opacity: 0.5;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #000;
}



#new_phrase {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: (-50%, -50%);
    color: white;
    text-align: left;
}

#new_phrase h1 {
    font-size: 5em;
}

#new_phrase > .bar {
    background-color: white;
    height: 2px;
    margin-left: 5px;
    width: 140px;
    transition-duration: 1s;
    transition-delay: 0.5s;
}

#books_location {
    width: 100vw;
    background-color: wheat;
}

#books_location h1 {
    text-align: center;
    font-size: 4em;
    padding-top: 70px;
}

#newbooks {
    text-align: center;
    margin-top: 80px;
}

.location {
    display: inline-block;
    margin: -2.9px;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    color: white;
    /* border: 1px black solid; */
}


@media screen and (max-width:767px) {
    .location {
        width: 100%;
        overflow: hidden;
    }

    .location > #img_books {
        float: left;
    }

    .location > .book_title, .writer {
        float:initial;
        padding-top: 20px;
    }
    
}

@media screen and (min-width:768px) and (max-width:1024px){
    .location {
        width: 30%;
    }
}

@media screen and (min-width:1025px) {
    .location {
        width: 30%;
        
    }
}