/* red */
#red_bg {
    position: relative;
    background: url("../img/contant/recommend.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

#red_bg::before {
        content: "";
        opacity: 0.5;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #000;
}


/* 맨위 콘텐츠 */

#red_phrase {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: (-50%, -50%);
    color: white;
    text-align: left;
}

#red_phrase span {
    font-size: 10em;
}

@keyframes bar {
    0% { width: 0; }
    100% { width: 100%; }
}

.bar {
    position: relative;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.bar::after {
    content: ' ';
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 5px;
    background: white;
    animation-name: bar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}



/* 콘텐츠(책들) */
#books_location {
    width: 100%;
    background-color: #e2dfda;
}

#books_location h1 {
    text-align: center;
    font-size: 5em;
    padding-top: 70px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.location .book_title,.writer {
    font-size: 1.3em;
    font-family: 'Nanum Gothic Coding', monospace;
}

#redbooks {
    text-align: center;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 80px;
    background-color: #e2dfda;
}

.location {
    display: inline-block;
    text-align: center;
    padding: 20px;
    color: black;
    border: 20px;
}

.q img {
    width: 150px;
    height: 200px;

    transition: all 0.2s linear;
}

.q:hover img {
    transform: scale(1.2)
}


@media screen and (max-width:767px) {
    .location {
        width: 90%;
        overflow: hidden;
    }

    .location > .q {
        float: left;
        padding-right: 20px;
    }

    .location .book_title {
        position: relative;
    }

    #red_phrase {
        font-size: 0.3em;
        top: 7%;
    }

    .book_title {
        margin-bottom: 20px;
        position: absolute;
    }

    
}

@media screen and (min-width:768px) and (max-width:1023px){
    #books_location {
        height: 100%;
    }
    
    .location {
        width: 30%;
    }
    

    #red_phrase {
        font-size: 0.5em;
    }

}

@media screen and (min-width:1024px) {
    .location {
        width: 30%;
        
    }

}