/* recommend */
#red_bg {
    position: relative;
    background: url("../img/contant/recommend.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

#red_bg::before {
        content: "";
        opacity: 0.5;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #000;
}


/* 맨위 콘텐츠 */

#red_phrase {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: (-50%, -50%);
    color: white;
    text-align: left;
}

#red_phrase span {
    font-size: 5em;
}

@keyframes bar {
    0% { width: 0; }
    100% { width: 100%; }
}

.bar {
    position: relative;
}

.bar::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
    animation-name: bar;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}



/* 콘텐츠(책들) */
#books_location {
    width: 100%;
    padding-bottom: 100px;
    background-color: #e2dfda;
}

#books_location h1 {
    text-align: center;
    font-size: 4em;
    padding-top: 70px;
}

#redbooks {
    text-align: center;
    margin-top: 80px;
}

.location {
    display: inline-block;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    color: black;
    /* border: 1px black solid; */
}

.q img {
    padding-bottom: 20px;

    transition: all 0.2s linear;
}

.q:hover img {
    transform: scale(1.2)
}


@media screen and (max-width:767px) {
    .location {
        width: 100%;
        overflow: hidden;
    }

    .location > .q {
        float: left;
    }

    .location > .book_title, .writer {
        padding-top: 20px;
    }

    #red_phrase {
        font-size: 0.5em;
        top: 7%;
    }
    
}

@media screen and (min-width:768px) and (max-width:1023px){
    #books_location {
        height: 100%;
    }
    
    .location {
        width: 30%;
    }

    #red_phrase {
        font-size: 0.8em;
    }
}

@media screen and (min-width:1024px) {
    .location {
        width: 30%;
        
    }

}